---
// src/components/LatestNews.astro
---
<section class="py-16 md:py-24 bg-gray-100 text-gray-800"> {/* UBAH DI SINI */}
  <div class="container mx-auto px-4 md:px-6">
    <h2 class="text-3xl md:text-4xl font-bold text-center mb-12">Berita & Aktivitas Terkini</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="flex flex-col md:flex-row bg-white rounded-lg shadow-xl overflow-hidden"> {/* UBAH DI SINI */}
        <img src="images/kemahliterasi.jpg" alt="Berita 1" class="w-full md:w-1/3 h-48 md:h-auto object-cover">
        <div class="p-6 md:w-2/3">
          <h3 class="text-xl font-bold mb-2">Kemah Literasi TBM Al-Bidayah
</h3>
          <p class="text-gray-600 text-base mb-4">Taman Baca Masyarakat (TBM) Al-Bidayah sukses menyelenggarakan Kemah Literasi  yang diikuti oleh 20 anak sekolah dasar. Acara yang berlangsung meriah pada tanggal 8 hingga 10 Agustus 2025 ini....</p> {/* UBAH DI SINI */}
            <a href="/galeri-aktivitas/kemah-literasi-al-bidayah" class="inline-block text-red-700 hover:text-red-500 font-medium">Baca Selengkapnya &rarr;</a> {/* UBAH DI SINI */}
        </div>
      </div>
      <div class="flex flex-col md:flex-row bg-white rounded-lg shadow-xl overflow-hidden"> {/* UBAH DI SINI */}
        <img src="images/koleksibuku.jpg" alt="Berita 2" class="w-full md:w-1/3 h-48 md:h-auto object-cover">
        <div class="p-6 md:w-2/3">
          <h3 class="text-xl font-bold mb-2">TBM Al-Bidayah Tambah Koleksi Buku, Ajak Masyarakat Manfaatkan Fasilitas</h3>
          <p class="text-gray-600 text-base mb-4">TBM Al-Bidayah kembali menambah koleksi buku, sediakan berbagai judul baru untuk dimanfaatkan masyarakat....</p> {/* UBAH DI SINI */}
            <a href="/galeri-aktivitas/penambahan-koleksi-buku" class="inline-block text-red-700 hover:text-red-500 font-medium">Baca Selengkapnya &rarr;</a> {/* UBAH DI SINI */}
        </div>
      </div>
    </div>
    <div class="text-center mt-12">
      <a href="#" class="inline-block bg-red-700 hover:bg-red-800 text-white font-bold py-3 px-8 rounded-full transition duration-300 ease-in-out shadow-lg text-lg">
        Lihat Semua Berita
      </a>
    </div>
  </div>
</section>